<h2>Two Factor</h2>
<p>check for your two factor code in your e-mail / text messages</p>
<%= form_tag([resource_name, :two_factor_authentication], :method => :put, class: 'form-inline') do %>
  <%= number_field_tag :code,nil, class: 'form-control', autocomplete:'off' %>
  <%= submit_tag "Log in!", class: 'btn btn-secondary' %>
<% end %>