body {
  background-color: #e6f7ff;
}

.row.tall-lg {
  margin-bottom: 10px;
}

.contact-header, .contact-record{
  background-color: #333;
  color: #DDD;
  border-bottom: 2px solid #666;
}
.card-header {
  background-color:
          #333;
}
.card-body {
  background-color:
          #333;
}