body {
  background-color: #F5F5F1;
}

.main {
  margin-top: 10px;
}

.row.tall-lg {
  margin-bottom: 10px;
}


.card-header {
  background-color: #f0f5ff;
}
.card-body {
  background:
          #FFFFFF;
  box-shadow: 0 2px 5px 0
  rgba(0,0,0,0.2);
  border-radius: 4px;
}
.contact-header {
  border-bottom: 1px solid #666;
}
.contact-record {
  padding-top: 10px;
  word-break: break-all;
}

@media (max-width: 576px) {
  .tall-lg > .col-sm {
    text-align: center;
  }
   .contact-record {
    border-bottom: 1px solid #666;
     padding-top: 2px;
  }
  .hour-record {
    border-bottom: 1px solid #666;
    padding-top: 2px;
    font-size: 1.5rem;
  }
}
span.customer-title {
  font-size: 1.75rem;
}

.searchinput {
  background-image: url('../images/searchicon.png'); /* Add a search icon to input */
  background-position: 6px 8px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.widget {
  position: relative;
  clear: both;
  width: auto;
  margin-bottom: 2em;
  overflow: hidden;
  background:
          #FFFFFF;
  box-shadow: 0 2px 5px 0
  rgba(0,0,0,0.2);
  border-radius: 4px;
}

.widget-content {
  padding: 20px 20px 10px;
  border-radius: 0;
}

.incident-grid {
  border-bottom: 1px solid black;
}

.calendar-height {
  min-height: 420px;
}

.secret-link {
  color: #000000;
}
.secret-link:hover {
  color: #000000;
  text-decoration: none;
}

.field-buttons {
  padding-top: 20px
}

.field-buttons > .btn {
  margin-right: 15px;
}

.hours-header.row {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

//Date Picker
.react-date-picker__wrapper {
  font-size: 1.3rem;
  width: 100%;
}
.react-date-picker__inputGroup {
  width: 100%;
  padding: 2px 2px;
}
@media (max-width: 576px) {
  .react-date-picker {
    width: 100%
  }
}

.quickbuttons.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.quickbuttons.row > .col-sm {
  padding-bottom: 5px;
}

.btnFullHeight {
  height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}